@import '../../styles/variales.scss';

.ui-formtodo {
    margin: 0 auto 20px;
    max-width: $max-width;

    &__input--text {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 0 20px;

        input, select {
            font-size: $font-size-standard;
            font-family: $font-family;
            padding: 10px;
        }
    }

    &__input--textarea {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 20px;

        textarea {
            font-size: $font-size-standard;
            font-family: $font-family;
            padding: 10px;
        }
    }
}

@media (max-width: $breakpoint) {
    .ui-formtodo {
        &__input--text {
            grid-template-columns: repeat(1, 1fr);
        }

        button {
            width: 100%;
        }
    }
}
