@import '../../styles/variales.scss';

.ui-formtodo {
    margin: 0 auto 20px;
    max-width: $max-width;

    &__input--text {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 0 20px;

        input {
            font-size: $font-size-standard;
            font-family: $font-family;
            padding: 10px;
        }
    }

    &__input--textarea {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 20px;

        textarea {
            font-size: $font-size-standard;
            font-family: $font-family;
            padding: 10px;
        }
    }

    &__input--submit {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        padding: 8px 10px;
        width: auto;

        &:disabled {
            cursor: default;
        }
    }
}